.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backBorad{
    box-sizing: border-box;
    padding-top: 20px;
    width: 600px;
    height: 700px;
    background: white;
}